<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.3" name="org.eclipse.microprofile.graphql">
    <resources>
        <artifact name="io.microprofile.sandbox:microprofile-graphql-api:${microprofile-graphql-api.version}"/>
        <artifact name="com.github.phillip-kruger.graphql:graphql-core:${project.version}"/>
    </resources>

    <dependencies>
        <module name="javax.enterprise.api"/>
        <module name="javax.annotation.api"/>
        <module name="org.wildfly.swarm.undertow" slot="main"/>
        <module name="org.eclipse.microprofile.config.api" export="true"/>
        
        <module name="javax.api"/>
        <module name="org.jboss.weld.core" export="true"/>
        <module name="org.jboss.weld.spi" export="true"/>
        
        <module name="org.eclipse.microprofile.config.api" export="true"/>
        <module name="org.eclipse.microprofile.graphql" export="true" services="import"/>
        
    </dependencies>
    
</module>