<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.3" name="com.github.phillipkruger.graphql.core">
    <resources>
        <artifact name="io.microprofile.sandbox:microprofile-graphql-api:${microprofile-graphql-api.version}"/>
        <artifact name="com.github.phillip-kruger.graphql:graphql-core:${project.version}"/>
        
<!--        <artifact name="com.graphql-java:graphql-java:11.0"/>
        <artifact name="com.graphql-java-kickstart:graphql-java-servlet:7.0.0"/>
        <artifact name="io.leangen.graphql:spqr:1.0.0-SNAPSHOT"/>
        <artifact name="com.github.phillip-kruger.graphql:graphql-core:1.0.0-SNAPSHOT"/>
        <artifact name="io.microprofile.sandbox:microprofile-graphql-api:1.0.0-SNAPSHOT"/>
        <artifact name="io.github.classgraph:classgraph:4.6.7"/>
        <artifact name="io.leangen.geantyref:geantyref:1.3.6"/>
        <artifact name="org.reactivestreams:reactive-streams:1.0.2"/>
        <artifact name="com.graphql-java:java-dataloader:2.1.1"/>
        <artifact name="org.antlr:antlr4-runtime:4.7.1"/>-->
        
    </resources>

<!--    <dependencies>
        <module name="javax.enterprise.api"/>
        <module name="javax.ws.rs.api"/>
        <module name="javax.api"/>
        <module name="javax.annotation.api"/>
        <module name="org.jboss.logging" slot="main"/>
        <module name="org.eclipse.microprofile.config.api" export="true"/>
        <module name="org.eclipse.microprofile.graphql" export="true" services="import"/>
        
    </dependencies>-->
</module>